
<div class="row p-3">
  <div class="col mb-3">
    <app-busqueda></app-busqueda>
  </div>
   
  <hr />

  <div class="row">
    <div class="col">
      <app-resultados> </app-resultados>
  </div>
</div>
