<div class="d-flex">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->

  <!-- Content Page -->
  <app-gifs-page class="container"></app-gifs-page>
  <!-- End Content Page -->

</div>